Repository lithictech/suma, pull requests merged in 2025-02, with the labels that each got.

#758 Sync Lyft GBFS into vehicles
  db/migrations/059_vehicle_int_coords.rb
  lib/suma/api/entities.rb
  lib/suma/api/mobility.rb
  lib/suma/async.rb
  lib/suma/async/sync_lyft_free_bike_status_gbfs.rb
  lib/suma/lyft.rb
  lib/suma/mobility.rb
  lib/suma/mobility/gbfs/free_bike_status.rb
  lib/suma/mobility/gbfs/http_client.rb
  lib/suma/mobility/vehicle.rb
  lib/suma/mobility/vendor_adapter.rb
  lib/suma/mobility/vendor_adapter/lyft_deeplink.rb
  lib/suma/tasks/bootstrap.rb
  spec/suma/async/jobs_spec.rb
  spec/suma/mobility/gbfs/free_bike_status_spec.rb
  spec/suma/mobility/vendor_adapter/lyft_deeplink_spec.rb
  spec/tasks/bootstrap_spec.rb
  webapp/src/assets/images/biketown-ebike.png
  webapp/src/assets/images/kick-scooter.png
  webapp/src/assets/images/lime-escooter.png
  webapp/src/modules/mapBuilder.js
Labels: backend, webapp

#763 Allow only digits on the OTP fields
  webapp/public/locale/en/out/strings.out.json
  webapp/public/locale/en/strings.json
  webapp/public/locale/es/out/strings.out.json
  webapp/public/locale/es/strings.json
  webapp/src/pages/OneTimePassword.jsx
Labels: bug, webapp

#767 Add admin mobility trip and charge endpoints
  adminapp/src/App.jsx
  adminapp/src/api.js
  adminapp/src/hooks/useNavLinks.jsx
  adminapp/src/pages/BookTransactionDetailPage.jsx
  adminapp/src/pages/ChargeDetailPage.jsx
  adminapp/src/pages/ChargeListPage.jsx
  adminapp/src/pages/FundingTransactionDetailPage.jsx
  adminapp/src/pages/MemberDetailPage.jsx
  adminapp/src/pages/MobilityTripDetailPage.jsx
  adminapp/src/pages/MobilityTripEditPage.jsx
  adminapp/src/pages/MobilityTripForm.jsx.jsx
  adminapp/src/pages/MobilityTripListPage.jsx
  adminapp/src/pages/VendorServiceDetailPage.jsx
  lib/suma/admin_api/access.rb
  lib/suma/admin_api/charges.rb
  lib/suma/admin_api/entities.rb
  lib/suma/admin_api/mobility_trips.rb
  lib/suma/admin_api/vendor_services.rb
  lib/suma/api/entities.rb
  lib/suma/apps.rb
  lib/suma/charge.rb
  lib/suma/mobility/trip.rb
  spec/suma/admin_api/charges_spec.rb
  spec/suma/admin_api/mobility_spec.rb
  spec/suma/admin_api/mobility_trips_spec.rb
Labels: bug, backend, admin
